@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tenor+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Serif+Pro&display=swap');

$mainColor: #000000;
$fontFamily:  'Source Serif Pro';
$fontSize: 16px;

#app {
	height: 100%;
}
.wrapper {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	// Прижимаем footer
	>main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	>* {
		min-width: 0;
	}
}

[class*="__container"] {
	max-width: 1230px;
	margin: 0px auto;
	padding: 0px 15px;
}

.label {
	font-family: 'Libre Franklin';
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #999999;
}

.title {
	font-family: 'Tenor Sans';
	text-transform: uppercase;
	color: $mainColor;
	font-size: 24px;
	line-height: 1.2;
}

.text {
	font-family: 'Source Serif Pro';
	font-size: 16px;
	line-height: 1.5;
	color: #666666;
}

.author {
	font-family: 'Libre Franklin';
	font-weight: 700;
	font-size: 10px;
	line-height: 1.2;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #000000;

}

@import './null.scss';
@import './header.scss';
@import './top-news.scss';
@import './latest-news.scss';
@import './footer.scss';
@import './form.scss';